.background-color {
  background-image: linear-gradient(to right, #3f51b5, #26c6da);
}

.p-card-title {
  text-align: center;
  font-family: "Nuinto Sans";
}

@media only screen and (min-width: 308px) {
  .username {
    margin-bottom: 2% !important;
  }

  .p-card {
    width: 100% !important;
  }

  .submit-button {
    margin-top: 5% !important;
    margin-left: 5% !important;
    width: 90% !important;
    background-color: #26c6da !important;
    border-color: #26c6da !important;
  }

  .input {
    margin-left: 5%;
    margin-right: 5%;
  }

  .input:focus {
    outline: none !important;
  }

  .card-header1 {
    background-image: linear-gradient(to right, rgb(25, 85, 138), #00bcd4);
    color: White;
    height: 80px !important;
    font-size: 180%;
    font-weight: 600;
    text-align: center;
    padding-top: 5%;
    margin-top: 35%;
    font-family: "Nuinto Sans";
    border-radius: 0px !important;
  }

  .card-footer1 {
    border: black !important;
    border-width: 2px !important;
    text-align: center;
    color: #26c6da;
    margin-top: 5%;
    margin-bottom: 1%;
    font-family: "Nuinto Sans";
    background: white !important;
  }
}

@media only screen and (min-width: 1024px) {
  .username {
    margin-bottom: 2% !important;
  }

  .p-card {
    width: 100% !important;
  }

  .submit-button {
    margin-top: 5% !important;
    margin-left: 5% !important;
    width: 90% !important;
    background-color: #26c6da !important;
    border-color: #26c6da !important;
  }

  .input {
    margin-left: 5%;
    margin-right: 5%;
  }

  .card-header1 {
    background-image: linear-gradient(to right, rgb(25, 85, 138), #00bcd4);
    color: White;
    height: 80px !important;
    font-size: 180%;
    font-weight: 600;
    text-align: center;
    padding-top: 5%;
    margin-top: 35%;
    font-family: "Nuinto Sans";
  }

  .card-footer1 {
    border: black !important;
    border-width: 2px !important;
    text-align: center;
    color: #26c6da;
    margin-top: 5%;
    margin-bottom: 1%;
    font-family: "Nuinto Sans";
  }

  .p-message {
    margin-left: 5% !important;
    margin-right: 5% !important;
    width: 90% !important;
    margin-bottom: 1.5% !important;
    margin-top: 0.5% !important;
  }
}

@media only screen and (min-width: 1666px) {
  .username {
    margin-bottom: 2% !important;
  }

  .submit-button {
    margin-top: 5% !important;
    margin-left: 5% !important;
    width: 90% !important;
    background-color: #26c6da !important;
    border-color: #26c6da !important;
  }

  .input {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
  }

  .card-header {
    background-image: linear-gradient(to right, rgb(25, 85, 138), #00bcd4);
    color: White;
    height: 80px !important;
    font-size: 180%;
    font-weight: 600;
    text-align: center;
    padding-top: 5%;
    font-family: "Nuinto Sans";
    margin-top: 40%;
  }

  .p-card {
    width: 90% !important;
    height: 40% !important;
  }

  .card-footer {
    border: black !important;
    border-width: 2px !important;
    text-align: center;
    color: #26c6da;
    margin-top: 5%;
    margin-bottom: 1%;
    font-family: "Nuinto Sans";
  }
}
