/* for-phone-only */
@media (max-width: 599px) {
}

/* for-tablet-portrait-up */
@media (min-width: 600px) {
}

/* for-tablet-landscape-up */
@media (min-width: 900px) {
}

/* for-desktop-up */
@media (min-width: 1200px) {
  .change-password-title {
    opacity: 0.8;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .change-password-form .lables {
    color: #b27424;
    font-size: 10px;
    width: 90px;
    font-weight: 600;
  }

  .change-password-form input[type="submit"] {
    background-color: #f37335;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 12px;
    padding: 8px 30px;
    margin: 8px 0;
    margin-bottom: 30% !important
  }

  .change-password-form table {
    margin-left: 30%;
  }

  .change-password-form input[type="password"] {
    margin-bottom: 3%;
  }
}

/* for-big-desktop-up */
@media (min-width: 1800px) {
}
