/* for-phone-only */
@media (max-width: 599px) {
}

/* for-tablet-portrait-up */
@media (min-width: 600px) {
}

/* for-tablet-landscape-up */
@media (min-width: 900px) {
}

/* for-desktop-up */
@media (min-width: 1200px) {
  .do-fine-title {
    opacity: 0.8;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-top: 2%;
  }

  .has-input .input {
    border-radius: 50px;
    padding-left: 2.575rem;
    min-height: 40px !important;
    align-items: center;
    width: 100%;
    margin-left: -5%;
    border: solid 1px #979797;
  }

  .input-label {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #b27424;
  }

  .do-fine-form {
    padding-top: 4%;
    padding-left: 12%;
    padding-right: 10%;
    align-items: center;
  }

  .has-input .input-icon {
    width: 8%;
    height: 15%;
    object-fit: contain;
    background-image: radial-gradient(circle at 50% 0, #fdc830, #f37335);
    padding-top: 1.3%;
    padding-left: 1.1%;
    padding-bottom: 1.3%;
    padding-right: 1.1%;
    z-index: 2;
    position: absolute;
    border-radius: 50%;
    margin-left: -4%;
    margin-top: 0.6%;
  }

  .input-icon-container {
  }

  .second-section-do-fine {
    margin-left: 0%;
  }

  .driver-details-input {
    border-radius: 9px;
    border: solid 1px #979797;
    width: 100%;
    margin-left: -2.5%;
  }

  .officer-panel-offence-card {
    margin-left: -2.5%;
    border-radius: 2% !important;
    border: solid 0.5px #979797 !important;
    width: 100%;
  }

  .officer-panel-offence-card-icon {
    width: 4.7%;
    min-height: 5% !important;
    object-fit: contain;
    background-image: radial-gradient(circle at 50% 0, #fdc830, #f37335);
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    border-radius: 50%;
    margin-right: 1%;
    margin-top: 0.5%;
  }

  .officer-panel-offence-card-title {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: #b27424;
    margin-top: 1.5% !important;
  }

  .officer-panel-offence-card-header {
    height: 9% !important;
  }

  .officer-panel-offence-card-total {
    font-size: 90%;
    font-weight: 600;
  }

  .add-offence-button{
    background-color: transparent !important;
    color: #b27424;
    font-weight: 600;
    width:20% !important;
    padding-left: 3%;
    padding-right: 1%
  }

  .add-offence-button-icon{
    margin-right:6% !important;
    margin-left:5% !important;
    margin-top:2.9% !important;
    object-fit: contain;
  }

  .offence-select{
    border-radius: 50px;
    padding-left: 2.575rem;
    background-image:
    linear-gradient(45deg, transparent 50%, #f37335 50%),
    linear-gradient(135deg, #f37335 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
  5px 5px,
  5px 5px,
  1px 1.5em;
  background-repeat: no-repeat;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    font-size: 1%
}

.offence-select:focus{
  outline: none !important;
  border: none
}

textarea:focus{
 outline: none !important;
}

.qr-icon{
  width:6%;
  margin-top:-25%;
  margin-left:90%
}



  .selected-fine-amount{
    border-radius: 50px;
    border: solid 0.5px #979797;
    width: 100%;
    text-align: center;
    min-height: 100% !important
  }

  .offence-select-cancel-button{
    background-color: transparent !important;
    border-radius: 50%;
    color:#979797;
    font-size: 17px !important 
  }

  .offence-select-hr-line{
    border: 1px dashed #d7d7d7
  }
}

/* for-big-desktop-up */
@media (min-width: 1800px) {
}
