/* for-phone-only */
@media (max-width: 599px) {
}

/* for-tablet-portrait-up */
@media (min-width: 600px) {
}

/* for-tablet-landscape-up */
@media (min-width: 900px) {
}

/* for-desktop-up */
@media (min-width: 1200px) {
  .driver-name {
    opacity: 0.8;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-top: 2%;
  }

  .driver-details-container {
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    padding-bottom: 10%
  }

  .driver-details-label {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #b27424;
    margin-top: 3%;
  }

  .driver-details-value {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    margin-left: -70%;
    margin-top: 3%;
  }

  .fine-table {
    width: 100%;
    margin-top: 2%;
  }

  .table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(243, 115, 53, 0.17) !important;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #ffffff !important;
  }

  .fine-table-container {
    padding-left: 3% !important;
    padding-right: 3% !important;
  }

  .fine-table-header {
    background-color: #f37335;
    border-color: #f37335;
    color: #ffffff;
    font-weight: 200 !important;
    font-style: normal !important;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    font-size: 12px;
  }

  .view-icon {
    color: #b0701d;
    font-size: 20px;
  }

  .search-icon {
    width: 10%;
    margin-left: 70%;
    z-index: 1 !important;
    margin-top: -43% !important;
  }

  .input-search {
    border-radius: 50px;
    padding-right: 1.575rem;
    padding-left: 0.5em;
    min-height: 30px !important;
    align-items: center;
    width: 100%;
    margin-left: -5%;
    border: solid 1px #979797;
    z-index: -1 !important;
    margin-bottom: 0% !important;
  }

  .input-search:focus{
      outline: none !important
  }

  .fine-table-search-row {
    
  }
  

}

/* for-big-desktop-up */
@media (min-width: 1800px) {
}
