.add-admin-input {
  width: 100%;
}

.p-inputgroup {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
}

.add-admin-submit {
  margin-top: 5% !important;
  margin-left: 5% !important;
  margin-right: 55% !important;
}

.add-admin-alert {
  margin-top: 10% !important;
}

@media only screen and (min-width: 308px) {
}

@media only screen and (min-width: 1024px) {
  .add-admin-submit {
    margin-top: 5% !important;
    margin-left: 5% !important;
    margin-right: 55% !important;
  }

  .add-admin-card-container {
    padding-bottom: 5% !important;
  }

  .p-card {
    margin-bottom: 5% !important;
  }
}

@media only screen and (min-width: 1666px) {
  .add-admin-submit {
    margin-top: 5% !important;
    margin-left: 5% !important;
    margin-right: 72.8% !important;
  }

  .add-admin-card-container {
    padding-bottom: 5% !important;
  }

  .p-card {
    height: 100% !important;
    margin-bottom: 5% !important;
  }
}
