.is-active {
  background-color: #b0701d;
}

/* for-phone-only */
@media (max-width: 599px) {
  .officer-navigation-link-text {
    display: none
  }
}


/* for-tablet-portrait-up */
@media (min-width: 600px) {
  .officer-navigation-link-text {
    width: 50px;
    height: 19px;
    opacity: 0.5;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 9px;
    font-weight: bold;
    text-align: center;
    color: #000000;
  }
}


/* for-tablet-landscape-up */
@media (min-width: 900px) {
  
}

/* for-desktop-up */
@media (min-width: 1200px) {
  .officer-navigation-link-text {
    width: 65px;
    height: 19px;
    opacity: 0.5;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    color: #000000;
  }
}

/* for-big-desktop-up */
@media (min-width: 1800px) {}




