.administrator-list-table-header{
    background-color: #a5a5a5;
    color: white;
    font-weight: 200 !important;
    font-style: normal !important;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    font-size: 12px;
    height: 1000px !important;
}


.admin-list-view-more{
    background-color: #f37335 !important;
    border-color:#f37335 !important
}