
/* for-phone-only */
@media (max-width: 599px) {
}

/* for-tablet-portrait-up */
@media (min-width: 600px) {
}

/* for-tablet-landscape-up */
@media (min-width: 900px) {
}

/* for-desktop-up */
@media (min-width: 1200px) {

    .administrator-details-card{
        min-width: 100% !important
    }

    .administrator-details-title{
        text-align: center !important;
        font-size: 20px;
        font-weight: 700;
        margin-top: 3%
    }

    .administrator-details{
        margin-left: 10% !important;
        margin-top: 5% !important
    }

    .administrator-details-label{
        color: #b27424;
        margin-bottom: 3%
    }

    .administrator-details-value{
        text-align: left;
        margin-bottom: 3%
    }
    
    .administrator-details-hr{
        border: dashed;
        margin-left: 10% !important;
        border-width: 0.7px;
        color:#d7d7d7;
        width: 80% !important
    }

    .administrator-details-offence-panel{
        margin-left: 10% !important;
    }

    .fine-table {
        width: 100%;
        margin-top: 2%;
        margin-bottom: 50%;
      }
    
      .table-striped tbody tr:nth-of-type(even) {
        background-color: #e9ebee !important;
      }
    
      .table-striped tbody tr:nth-of-type(odd) {
        background-color: #ffffff !important;
      }
    
      .fine-table-container {
        padding-left: 3% !important;
        padding-right: 3% !important;
      }
    
      .fine-table-header {
        background-color: #a5a5a5;
        border-color: #f37335;
        color: #ffffff;
        font-weight: 200 !important;
        font-style: normal !important;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        font-size: 12px;
      }
    
      .view-icon {
        color: #b0701d;
        font-size: 20px;
      }
    
      .search-icon {
        width: 10%;
        margin-left: 70%;
        z-index: 1 !important;
        margin-top: -43% !important;
      }
    
      .input-search {
        border-radius: 50px;
        padding-right: 1.575rem;
        padding-left: 0.5em;
        min-height: 30px !important;
        align-items: center;
        width: 100%;
        margin-left: -5%;
        border: solid 1px #979797;
        z-index: -1 !important;
        margin-bottom: 0% !important;
      }
    
      .input-search:focus{
          outline: none !important
      }
    
      .fine-table-search-row {
        
      }
}

/* for-big-desktop-up */
@media (min-width: 1800px) {
}
