.officer-layout-background {
  background-image: radial-gradient(circle at 0, #fdc830, #f37335);
  /* background-repeat: no-repeat;
  height: 100%; */
}

/* for-phone-only */
@media (max-width: 599px) {
  .officer-logout-button {
    background-color: Transparent !important;
    border-color: #424242 !important;
    border-width: 0.2% !important;
    height: 5% !important;
    align-items: center !important;
    margin-top: 2% !important;
    font-size: 11px !important;
    margin-left: 75% !important;
  }

  .site-navigation-panel {
    margin-top: 5%;
  }

  .police-app-panel-card {
  }

  .fine-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 6px;
    border: solid 0.5px #ffffff;
  }

  .file-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 6px;
    border: solid 0.5px #ffffff;
  }

  .officer-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 6px;
    border: solid 0.5px #ffffff;
  }

  .driver-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 6px;
    border: solid 0.5px #ffffff;
  }

  .do-fine-tab {
    width: 38px;
    height: 50%;
    border-radius: 6px;
    border: solid 1px #ffffff;
    padding-left: 6.5%;
    padding-right: 6.5%;
    padding-top: 6.5%;
    padding-bottom: 6.5%;
    background: transparent;
  }

  .view-fine-tab {
    width: 38px;
    height: 50%;
    border-radius: 6px;
    border: solid 1px #ffffff;
    padding-left: 6.5%;
    padding-right: 6.5%;
    padding-top: 6.5%;
    padding-bottom: 6.5%;
    background: transparent;
  }

  .view-profile-tab {
    width: 38px;
    height: 50%;
    border-radius: 6px;
    border: solid 1px #ffffff;
    padding-left: 6.5%;
    padding-right: 6.5%;
    padding-top: 6.5%;
    padding-bottom: 6.5%;
    background: transparent;
  }

  .search-driver-tab {
    width: 38px;
    height: 50%;
    border-radius: 6px;
    border: solid 1px #ffffff;
    padding-left: 6.5%;
    padding-right: 6.5%;
    padding-top: 6.5%;
    padding-bottom: 6.5%;
    background: transparent;
  }
}

/* for-tablet-portrait-up */
@media (min-width: 600px) {
  .officer-logout-button {
    background-color: Transparent !important;
    border-color: #424242 !important;
    border-width: 0.2% !important;
    height: 5% !important;
    align-items: center !important;
    margin-top: 2% !important;
    font-size: 11px !important;
    margin-left: 88% !important;
  }

  .site-navigation-panel {
    margin-top: 1%;
  }

  .fine-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 6px;
    border: solid 0.5px #ffffff;
  }

  .file-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 6px;
    border: solid 0.5px #ffffff;
  }

  .officer-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 6px;
    border: solid 0.5px #ffffff;
  }

  .driver-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 6px;
    border: solid 0.5px #ffffff;
  }

  .do-fine-tab {
    width: 50px;
    height: 55%;
    border-radius: 6px;
    border: solid 1px #ffffff;
    padding-left: 3.5%;
    padding-right: 3.5%;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    background: transparent;
  }

  .view-fine-tab {
    width: 50px;
    height: 55%;
    border-radius: 6px;
    border: solid 1px #ffffff;
    padding-left: 3.5%;
    padding-right: 3.5%;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    background: transparent;
  }

  .view-profile-tab {
    width: 50px;
    height: 55%;
    border-radius: 6px;
    border: solid 1px #ffffff;
    padding-left: 3.5%;
    padding-right: 3.5%;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    background: transparent;
  }

  .search-driver-tab {
    width: 50px;
    height: 55%;
    border-radius: 6px;
    border: solid 1px #ffffff;
    padding-left: 3.5%;
    padding-right: 3.5%;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    background: transparent;
  }
}

/* for-tablet-landscape-up */
@media (min-width: 900px) {
  .officer-logout-button {
    background-color: Transparent !important;
    border-color: #424242 !important;
    border-width: 0.2% !important;
    height: 5% !important;
    align-items: center !important;
    margin-top: 2% !important;
    font-size: 11px !important;
    margin-left: 90% !important;
  }
}

/* for-desktop-up */
@media (min-width: 1200px) {
  .officer-logout-button {
    background-color: Transparent !important;
    border-color: #424242 !important;
    border-width: 0.2% !important;
    height: 5% !important;
    align-items: center !important;
    margin-top: 1.5% !important;
    font-size: 11px !important;
    margin-left: 94% !important;
  }

  .site-navigation-panel {
    margin-top: 1%;
  }

  .police-app-panel-card {
    border-radius: 40px;
    border: solid 1px #b0701d;
    background-color: #ffffff;
  }

  .police-app-footer {
    background-color: #000000;
    height: 30px !important;
    margin-bottom: 0px !important;
    position: absolute;
    width: 100%;
  }

  .fine-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 6px;
    border: solid 0.5px #ffffff;
    padding-top: 5%;
    padding-bottom: 2%;
  }

  .file-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 6px;
    border: solid 0.5px #ffffff;
    padding-top: 5%;
    padding-bottom: 2%;
  }

  .officer-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 6px;
    border: solid 0.5px #ffffff;
    padding-top: 5%;
    padding-bottom: 2%;
  }

  .driver-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 6px;
    border: solid 0.5px #ffffff;
    padding-top: 5%;
    padding-bottom: 2%;
  }

  .do-fine-tab {
    width: 65px;
    height: 60%;
    border-radius: 6px;
    border: solid 1px #ffffff;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background: transparent;
  }

  .view-fine-tab {
    width: 65px;
    height: 60%;
    border-radius: 6px;
    border: solid 1px #ffffff;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background: transparent;
  }

  .view-profile-tab {
    width: 65px;
    height: 60%;
    border-radius: 6px;
    border: solid 1px #ffffff;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background: transparent;
  }

  .search-driver-tab {
    width: 65px;
    height: 60%;
    border-radius: 6px;
    border: solid 1px #ffffff;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background: transparent;
  }
}

/* for-big-desktop-up */
@media (min-width: 1800px) {
  .officer-logout-button {
    background-color: Transparent !important;
    border-color: #424242 !important;
    border-width: 0.2% !important;
    height: 5% !important;
    align-items: center !important;
    margin-top: 1.5% !important;
    font-size: 11px !important;
    margin-left: 94% !important;
  }

  .site-navigation-panel {
    margin-top: 3%;
  }

  .fine-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 6px;
    border: solid 0.5px #ffffff;
    padding-top: 5%;
    padding-bottom: 2%;
  }

  .file-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 6px;
    border: solid 0.5px #ffffff;
    padding-top: 5%;
    padding-bottom: 2%;
  }

  .officer-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 6px;
    border: solid 0.5px #ffffff;
    padding-top: 5%;
    padding-bottom: 2%;
  }

  .driver-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 6px;
    border: solid 0.5px #ffffff;
    padding-top: 5%;
    padding-bottom: 2%;
  }

  .do-fine-tab {
    width: 65px;
    height: 60%;
    border-radius: 6px;
    border: solid 1px #ffffff;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background: transparent;
  }

  .view-fine-tab {
    width: 65px;
    height: 60%;
    border-radius: 6px;
    border: solid 1px #ffffff;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background: transparent;
  }

  .view-profile-tab {
    width: 65px;
    height: 60%;
    border-radius: 6px;
    border: solid 1px #ffffff;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background: transparent;
  }

  .search-driver-tab {
    width: 65px;
    height: 60%;
    border-radius: 6px;
    border: solid 1px #ffffff;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background: transparent;
  }
}
