.logo {
  max-width: 5% !important;
}



@media screen and (min-width: 300px) and (max-width: 1000px){
  
}


@media screen and (min-width: 1024px) {
  .MuiTypography-root {
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .MuiTypography-root:hover {
    background-color: #e9ebee;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5%;
    color: white;
  }
  
  .MuiButtonBase-root:hover {
    border-radius: none !important;
    color: white;
    background-color: #e9ebee;
  }
}

@media screen and (min-width:1600px){
  .logo {
    max-width: 4% !important;
  }
  
}