/* for-phone-only */
@media (max-width: 599px) {
}

/* for-tablet-portrait-up */
@media (min-width: 600px) {
}

/* for-tablet-landscape-up */
@media (min-width: 900px) {
}

/* for-desktop-up */
@media (min-width: 1200px) {
  .driver-name {
    opacity: 0.8;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-top: 2%;
  }

  .driver-profile-container {
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    padding-bottom: 10%
  }

  .driver-profile-label {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #b27424;
    margin-top: 3%;
  }

  .driver-profile-value {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    margin-left: -70%;
    margin-top: 3%;
  }

  .single-fine-field-value-danger {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    margin-left: -50%;
    margin-top: 3%;
    color: #dd1818;
  }

  .single-fine-field-label-second-col {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #b27424;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .driver-profile-button {
    background: transparent;
    background-color: #f37335;
    border-color: #f37335;
    border-radius: 50px;
    padding-right: 1em;
    padding-left: 1em;
    color: white;
    width: 20%;
    max-height: 30px;
    align-items: center;
    font-size: 12px;
    margin-left:18%;
    margin-top: 2%
  }

  .single-fine-field-value-second-col-card{
    padding-bottom: 2%;
    max-width: 80%
  }

  .driver-profile-button:hover{
    background: transparent;
    background-color: #f37335;
    border-color: #f37335;
    border-radius: 50px;
    padding-right: 1em;
    padding-left: 1em;
    color: white;
    width: 20%;
    max-height: 30px;
    align-items: center;
    font-size: 12px;
    margin-left:18%;
    margin-top:2%;
  }

  .single-fine-second-col-field-label{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    margin-left: 5%;
    margin-top: 3%;
  }

  .single-fine-second-col-field-value{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-left: -90%;
    margin-top: 3%;
  }

  .single-fine-offence-card{
    margin-left: -2.5%;
    border-radius: 2% !important;
    border: solid 0.5px #979797 !important;
    width: 100%;
    margin-top: 2%
  }

  .single-fine-offence-card-header{
    height: 9% !important;
    
  }

  .single-fine-offence-card-icon{
    width: 4.7%;
    min-height: 5% !important;
    object-fit: contain;
    background-image: radial-gradient(circle at 50% 0, #fdc830, #f37335);
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    border-radius: 50%;
    margin-right: 1%;
    margin-top: 0.5%;
  }

  .single-fine-offence-card-title{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: #b27424;
    margin-top: 1.5% !important;
  }
  

}

/* for-big-desktop-up */
@media (min-width: 1800px) {
}
