@media screen and (min-width: 300px) and (max-width: 1000px) {
  .banner {
    display: none;
  }

  .banner-icon {
    display: none;
  }

  .welcome-greeting {
    margin-top: 0;
  }

  .main-pannel-section1 {
    height: 40vh;
    margin-bottom: 0 !important;
    border-radius: 0;
    margin-top: 1.5%;
    margin-left: 1%;
    padding-left: 3% !important;
    padding-top: 1% !important;
  }

  .main-pannel-text {
    font-size: 11px;
    font-family: "Nuinto Sans";
    margin-left: 2%;
  }

  .red-dot {
    max-width: 15%;
  }

  .main-pannel-title {
    margin-left: 2%;
    font-size: 16px !important;
    font-family: "Regular bold";
  }

  .main-pannel-police {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    width: 218.3vh !important;
    height: 87vh !important;
    margin-top: 8vh;
  }

  .welcome-greeting {
    font-size: 280% !important;
    font-weight: 700;
    margin-top: -85vh;
    margin-left: 5vh;
    animation: 2s ease-out 0s 1 slideInFromLeft;
    color: white;
  }

  .banner-icon {
    margin-left: 79%;
    max-height: 45vh;
    margin-top: -9%;
    animation: 3s ease-out 0s 1 SlideInFromTop;
  }

  .main-pannel-section1 {
    height: 80% !important;
    margin-bottom: 0 !important;
    border-radius: 0;
    padding-top: "40px";
    margin-top: 12.5%;
    margin-left: 100;
    padding-left: 20% !important;
    padding-top: 5% !important;
  }

  .main-pannel-text {
    font-size: 17px;
    font-family: "Nuinto Sans";
    margin-left: 7vh;
    padding-right: 10%;
  }

  .red-dot {
    max-width: 100px;
  }
  .main-pannel-title {
    margin-left: 5%;
    font-size: 48px;
    font-family: "Regular bold";
  }

  .main-pannel-police {
    max-height: 50vh !important;
    margin-left: 13% !important;
    margin-top: -10% !important;
  }
}

@media screen and (min-width: 1600px) {
  .banner {
    width: 180.3vh !important;
    height: 65vh !important;
    margin-top: 7vh;
  }

  .welcome-greeting {
    font-size: 280% !important;
    font-weight: 700;
    margin-top: -65vh;
    margin-left: 5vh;
    animation: 2s ease-out 0s 1 slideInFromLeft;
    color: white;
  }

  .banner-icon {
    margin-left: 79%;
    max-height: 45vh;
    margin-top: -9%;
    animation: 3s ease-out 0s 1 SlideInFromTop;
  }

  .main-pannel-section1 {
    height: 80% !important;
    margin-bottom: 0 !important;
    border-radius: 0;
    padding-top: "40px";
    margin-top: 10.5%;
    margin-left: 0%;
    padding-left: 20% !important;
    padding-top: 5% !important;
  }

  .main-pannel-text {
    font-size: 17px;
    font-family: "Nuinto Sans";
    margin-left: 7vh;
    padding-right: 10%;
  }

  .red-dot {
    max-width: 100px;
  }
  .main-pannel-title {
    margin-left: 5%;
    font-size: 48px;
    font-family: "Regular bold";
  }

  .main-pannel-police {
    max-height: 30vh !important;
    margin-left: 13% !important;
    margin-top: -10% !important;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes SlideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
